#corpo{
    height: 100vh;
}
#loginCadastro{
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 100vh;            /* altura total da tela */
    margin: 0;
}
#cadastro{
    margin-left: 10px;
}
#login{
    margin-right: 10px;
}
#divDoLogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 8px;
    display: none;
    border-radius: 10%;
    border: 1px #000 solid;
    padding: 2% 5% 5% 5%;
    background: linear-gradient(to top, #FF7F7F80, #FF7F7F, #0984E3);
}
#divDoCadastro{
    display: none;
    border-radius: 10%;
    border: 1px #000 solid;
    padding: 2% 5% 5% 5%;
    width: 28%;
    margin-left: 10%;
    background: linear-gradient(to top, #FF7F7F80, #FF7F7F, #0984E3);
}